body {
  background: linear-gradient(rgb(27, 15, 157), rgb(255, 0, 238));
}

.ribbon-1 {
  position: fixed;
  background: #08769b;
  box-shadow: 0 0 0 999px #08769b;
  clip-path: inset(0 -100%);
}

.left {
  inset: 0 auto auto 0;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
}

.right {
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
}

.ribbon-2 {
  color: #fff;
  --f: 10px;
  --r: 15px;
  --t: 10px;
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #35bd15;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}

.box {
  border-radius: 9px;
  max-width: 500px;
  margin: 20px auto 0;
  position: relative;
  min-height: 145px;
}

.box-text {
  font-weight: 600;
  font-size: 15px;
  padding: 50px 15px 50px 15px !important;
}